[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group tcp-qa-core
	owner = group user/Dennis Dmitriev (dis-xcom)
	owner = group user/Oleksii Butenko (obutenko)
[access "refs/for/refs/*"]
	read = group tcp-qa-core
	read = group user/Dennis Dmitriev (dis-xcom)
	read = group user/Oleksii Butenko (obutenko)
	push = group tcp-qa-core
	push = group user/Dennis Dmitriev (dis-xcom)
	push = group user/Oleksii Butenko (obutenko)
	label-Code-Review = -2..+2 group tcp-qa-core
	label-Code-Review = -2..+2 group user/Dennis Dmitriev (dis-xcom)
	label-Code-Review = -2..+2 group user/Oleksii Butenko (obutenko)
	label-Verified = -1..+1 group tcp-qa-core
	label-Verified = -1..+1 group user/Dennis Dmitriev (dis-xcom)
	label-Verified = -1..+1 group user/Oleksii Butenko (obutenko)
	rebase = group tcp-qa-core
	rebase = group user/Dennis Dmitriev (dis-xcom)
	rebase = group user/Oleksii Butenko (obutenko)
	removeReviewer = group tcp-qa-core
	removeReviewer = group user/Dennis Dmitriev (dis-xcom)
	removeReviewer = group user/Oleksii Butenko (obutenko)
	submit = group tcp-qa-core
	submit = group user/Dennis Dmitriev (dis-xcom)
	submit = group user/Oleksii Butenko (obutenko)
[access "refs/heads/*"]
	read = group tcp-qa-core
	read = group user/Dennis Dmitriev (dis-xcom)
	read = group user/Oleksii Butenko (obutenko)
	create = group tcp-qa-core
	create = group user/Dennis Dmitriev (dis-xcom)
	create = group user/Oleksii Butenko (obutenko)
	push = group tcp-qa-core
	push = +force group user/Dennis Dmitriev (dis-xcom)
	push = group user/Oleksii Butenko (obutenko)
	pushMerge = group tcp-qa-core
	pushMerge = group user/Dennis Dmitriev (dis-xcom)
	pushMerge = group user/Oleksii Butenko (obutenko)
[access "refs/tags/*"]
	push = group tcp-qa-core
	push = group user/Dennis Dmitriev (dis-xcom)
	push = +force group user/Dennis Dmitriev (dis-xcom)
	push = group user/Oleksii Butenko (obutenko)
